<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">   
       
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {{ .Hugo.Generator }}
         <!-- Site Metas -->
        <title>La grange du Bosquet</title>  
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Site Icons -->
        <link rel="shortcut icon" href="../images/logo.png" >
        <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <!-- Pogo Slider CSS -->
        <link rel="stylesheet" href="../../css/pogo-slider.min.css">
        <!-- Site CSS -->
        <link rel="stylesheet" href="../../css/style.css">    
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="../../css/responsive.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="../../css/custom.css">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    
    </head>
    <header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="index.html"><img src="../../images/logo.png" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="/">Accueil</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    

    {{ if or ( eq .Section "rooms" ) ( eq .Section "chambres" ) }}
      
    {{ end }}

    {{ if or ( eq .Section "events" ) ( eq .Section "evenements" ) }}
    
    {{ end }}

    <!-- Start Footer -->
<footer class="footer-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2019 <a href="#">La Grange du Bosquet</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- ALL JS FILES -->
<script src="../../js/jquery.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="../../js/jquery.magnific-popup.min.js"></script>
<script src="../../js/jquery.pogo-slider.min.js"></script> 
<script src="../../../js/slider-index.js"></script>
<script src="../../../js/smoothscroll.js"></script>
<script src="../../js/form-validator.min.js"></script>
<script src="../../js/contact-form-script.js"></script>
<script src="../../js/custom.js"></script>
</body>
</html>
</html>