<!-- Start Footer -->
<div class="wrapper">
    <a href="https://www.facebook.com/laGrangeduBosquet/?ref=br_rs"><i class="fab fa-5x fa-facebook-square"></i></a>
    <a href="https://www.instagram.com/lagrangedubosquet/?hl=fr"><i class="fab fa-5x fa-instagram"></i></a>
    <a href="https://www.airbnb.fr/rooms/38483922"><i class="fab fa-5x fa-airbnb"></i></a>
</div>
<footer class="footer-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="footer-company-name">All Rights Reserved. &copy; 2019 <a href="#">La Grange du Bosquet</a></p>
            </div>
        </div>
    </div>
</footer>


<!-- End Footer -->
<script src="https://kit.fontawesome.com/39c2565a7e.js" crossorigin="anonymous"></script>

<!-- ALL JS FILES -->
<script src="https://lagrangedubosquet.fr/fr/js/jquery.min.js"></script>
<script src="https://lagrangedubosquet.fr/fr/js/popper.min.js"></script>
<script src="https://lagrangedubosquet.fr/fr/js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="https://lagrangedubosquet.fr/fr/js/jquery.magnific-popup.min.js"></script>
<script src="https://lagrangedubosquet.fr/fr/js/jquery.pogo-slider.min.js"></script> 
<script src="https://lagrangedubosquet.fr/fr/js/slider-index.js"></script>
<script src="https://lagrangedubosquet.fr/fr/js/smoothscroll.js"></script>
<script src="https://lagrangedubosquet.fr/fr/js/form-validator.min.js"></script>
<script src="https://lagrangedubosquet.fr/fr/js/contact-form-script.js"></script>
<script src="https://lagrangedubosquet.fr/fr/js/custom.js"></script>
</body>
</html>