<!DOCTYPE html>
<html><!-- Basic -->
<head>

	{{ if .IsTranslated }}
		{{ range .Translations }}
			<meta property="translated-{{ .Lang }}" content="1">
		{{ end }}
	{{ end }}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {{ .Hugo.Generator }}
     <!-- Site Metas -->
    <title>La grange du Bosquet</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
	<link rel="shortcut icon" href="../images/logo.png" >
	<link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://lagrangedubosquet.fr/fr/css/bootstrap.min.css">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="https://lagrangedubosquet.fr/fr/css/pogo-slider.min.css">
	<!-- Site CSS -->
    <link rel="stylesheet" href="https://lagrangedubosquet.fr/fr/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="https://lagrangedubosquet.fr/fr/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://lagrangedubosquet.fr/fr/css/custom.css">
</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- LOADER -->
    <div id="preloader">
		<div class="preloader pulse">
			<i class="fa fa-home" aria-hidden="true"></i>
			<h2 style="color:white; font-size:20px;font-family: 'Marck Script', cursive;">La grange du Bosquet</h2>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->
	{{ if eq .Site.Params.languageName "Français" }}
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="image"></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
						<li><a class="nav-link active" href="#">Accueil</a></li>
						<li><a class="nav-link" href="#family">Nos chambres</a></li>
						<li><a class="nav-link" href="#gallery">Gallery</a></li>
                        <li><a class="nav-link" href="#story">Notre histoire</a></li>
						<li><a class="nav-link" href="#about">Promenons-nous</a></li>
						<li><a class="nav-link" href="#contact">Contactez-nous</a></li>
                        <li><a class="nav-link" href="#events">Nos évènements</a></li>
                    </ul>
				</div>
				<ul>
					
					<li><a href="https://lagrangedubosquet.fr/fr">Français</a></li>
					<li><a href="https://lagrangedubosquet.fr/en">English</a></li>
					
					</ul>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
            </div>
        </nav>
	</header>
	<!-- End header -->
	
	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					<div class="pogoSlider-slide" data-transition="zipReveal" data-duration="1000" style="background-image:url(images/entete1.jpg);">
						<div class="lbox-caption">
							<div class="lbox-details">
								<h1>#LaGrangeDuBosquet</h1>
								<p>Vous accueille depuis le : &nbsp;<strong>20 Juin 2018</strong></p>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="blocksReveal" data-duration="1000" style="background-image:url(images/entete2.jpg);">
						<div class="lbox-caption">
							<div class="lbox-details">
								<h1>#LaGrangeDuBosquet</h1>
								<p>Vous accueille depuis le : &nbsp;<strong>20 Juin 2018</strong></p>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="shrinkReveal" data-duration="1000" style="background-image:url(images/entete3.jpg);">
						<div class="lbox-caption">
							<div class="lbox-details">
								<h1>#LaGrangeDuBosquet</h1>
								<p>Vous accueille depuis le : &nbsp;<strong>20 Juin 2018</strong></p>
							</div>
						</div>
						
					</div>
				</div><!-- .pogoSlider -->
			</div>
		</div>
	</div>
	<!-- End Banner -->
	{{ else }}
	<header class="top-header">
			<nav class="navbar header-nav navbar-expand-lg">
				<div class="container">
					<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="image"></a>
					<div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
						<ul class="navbar-nav">
							<li><a class="nav-link active" href="#">Home</a></li>
							<li><a class="nav-link" href="#family">Bedrooms</a></li>
							<li><a class="nav-link" href="#gallery">Gallery</a></li>
							<li><a class="nav-link" href="#story">Story</a></li>
							<li><a class="nav-link" href="#about">Discover</a></li>
							<li><a class="nav-link" href="#contact">Contact</a></li>
							<li><a class="nav-link" href="#events">Events</a></li>
						</ul>
					</div>
					<ul>
						<li><a href="https://lagrangedubosquet.fr/fr">Français</a></li>
					    <li><a href="https://lagrangedubosquet.fr/en">English</a></li>
						</ul>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
			</nav>
		</header>
		<!-- End header -->
		
		<!-- Start Banner -->
		<div class="ulockd-home-slider">
			<div class="container-fluid">
				<div class="row">
					<div class="pogoSlider" id="js-main-slider">
						<div class="pogoSlider-slide" data-transition="zipReveal" data-duration="1000" style="background-image:url(images/entete1.jpg);">
							<div class="lbox-caption">
								<div class="lbox-details">
									<h1>#LaGrangeDuBosquet</h1>
									<p>You have been receiving since : &nbsp;<strong>20 June 2018</strong></p>
								</div>
							</div>
						</div>
						<div class="pogoSlider-slide" data-transition="blocksReveal" data-duration="1000" style="background-image:url(images/entete2.jpg);">
							<div class="lbox-caption">
								<div class="lbox-details">
									<h1>#LaGrangeDuBosquet</h1>
									<p>You have been receiving since : &nbsp;<strong>20 June 2018</strong></p>
								</div>
							</div>
						</div>
						<div class="pogoSlider-slide" data-transition="shrinkReveal" data-duration="1000" style="background-image:url(images/entete3.jpg);">
							<div class="lbox-caption">
								<div class="lbox-details">
									<h1>#LaGrangeDuBosquet</h1>
									<p>You have been receiving since : &nbsp;<strong>20 June 2018</strong></p>
								</div>
							</div>
							
						</div>
					</div><!-- .pogoSlider -->
				</div>
			</div>
		</div>
	{{ end }}