{{ partial "header" . }}


{{ if eq .Site.Params.languageName "Français" }}
<!-- Start Family -->
<div id="family" class="family-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2>Nos chambres</h2>
                    <p>Situé à Honnecourt-sur-l'Escaut, l'établissement La Grange Du Bosquet possède un jardin et une terrasse. Parmi les installations de cet établissement, vous trouverez une cuisine et un salon communs, ainsi qu'une connexion Wi-Fi gratuite dans tout l'établissement. Un parking privé peut être organisé moyennant des frais supplémentaires. Un petit-déjeuner continental est servi tous les matins à la maison d'hôtes. Saint-Quentin est à 25 km de La Grange Du Bosquet, tandis que Douai est à 44 km. L'aéroport de Lille, le plus proche, est à 83 km.</p>
                </div>
                {{ $chambres    := where .Site.RegularPages "Type" "chambres" }}
                {{ range $chambres }}
                <div class="flip">
                        <div class="front" id="front" style="background-image: url(https://lagrangedubosquet.fr/fr{{ .Params.image }})">
                           <h1 class="text-shadow" style="color:white;font-weight: bold;font-size:30px;font-family: 'Marck Script', cursive;">{{ .Params.title}}</hi>
                        </div>
                        <div class="back">
                           <h2 style="color: white; font-family: 'Marck Script', cursive;;">{{ .Params.description }} - {{ .Params.nbPers }} personnes</h2>
                           <p style="color: white;"><i class="fa fa-bed" style="color: white;"></i>&nbsp;&nbsp;{{ .Params.literie }}</p>
                           <p style="color: white;"><i class="fa fa-cubes" style="color: white;"></i>&nbsp;&nbsp;Superficie : {{ .Params.superficie }} m²</p>
                           <p style="color: white;"><i class="fas fa-bath" style="color: white;"></i>&nbsp;&nbsp;Sale de bain privatisée</p>
                           <p style="color: white;"><i class="fas fa-euro-sign" style="color: white;"></i>&nbsp;&nbsp;Tarif nuit : {{ .Params.tarifnuit }} € / nuit</p>
                           <p style="color: white;"><i class="fas fa-euro-sign" style="color: white;"></i>&nbsp;&nbsp;Tarif week-end : {{ .Params.tarifweekend }} € / nuit</p>
                           <p style="color: white;"><i class="fas fa-euro-sign" style="color: white;"></i>&nbsp;&nbsp;Tarif semaine : {{ .Params.tarifsemaine }} € / nuit</p>
                           <p style="color: white;"><i class="fas fa-euro-sign" style="color: white;"></i>&nbsp;&nbsp;Tarif vacances : {{ .Params.tarifvacances }} € / nuit</p>
                        </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<!-- End Family -->

<!-- Start Gallery -->
<div id="gallery" class="gallery-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2>Gallery</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="popup-gallery clearfix">
                {{ $gallery    := where .Site.RegularPages "Type" "gallery" }}
                {{ range $gallery }}
                <li>
                    <a href="https://lagrangedubosquet.fr/fr{{ .Params.image }}" style="height: 100%;width: 100%">
                        <img class="img-fluid" src="https://lagrangedubosquet.fr/fr{{ .Params.image }}" style="height: 100%;width:100%" alt="{{ .Params.title }}">
                        <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
<!-- End Gallery -->
    
    <!-- Start Story -->
    <div id="story" class="story-box main-timeline-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h2>Le pourquoi du comment ?</h2>
                        <p>Pourquoi
                            "La Grange du Bosquet" ?  Deux fermes du bosquet existait déjà depuis la révolution française, vers ossu, la rue ou notre grange se situe, à un kilomètre du centre d'Honnecourt, ou se trouvait autrefois un petit massif boisé.
                            La rue d'ossu se nommait donc par les villageois le Bosquet, nous avons donc décidé de poursuivre la tradition et de garder ce mot, pour mettre en valeur l'histoire du village de Honnecourt sur Escaut. </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            1 March 2018  
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">L'idée</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                           We met at the wedding of our close friends and immediately found a common language, so a year later our first date happened.
                        </p>
                     </div>
                </div>
            </div>
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            3 Janvier 2019  
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Les premiers travaux</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Début des travaux de notre grange, nous consolidons la structure avec des poutres en fer.
                        </p>
                        <img class="img-fluid" src="images/phase2.jpg" alt="single image">    
                     </div>
                </div>
            </div>
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            10 Janvier 2019  
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Rénovation de la toiture</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Ce jour, les débuts de la rénovation de la toiture...
                        </p>
                        <img class="img-fluid" src="images/phase3.jpg" alt="single image">
                     </div>
                </div>
            </div>
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            24 Janvier 2019 
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Hiver</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            La neige est tombée sur la grange du bosquet !
                        </p>
                        <img class="img-fluid" src="images/hiver.jpg" alt="single image">
                     </div>
                </div>
            </div>
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            11 Février 2019  
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Préparation du sol</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Préparation, réalisation et finitions de la dalle  !
                        </p>
                        <img class="img-fluid" src="images/sol.jpg" alt="single image">
                     </div>
                </div>
            </div>
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            11 Mars 2019 
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Consolidation</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Mise en place des murs, des poutres de renforcement, peinture, finitions des ouvertures, commencement du plancher, ça avance à la Grange du Bosquet !
                        </p>
                        <img class="img-fluid" src="images/poutre.jpg" alt="single image">
                     </div>
                </div>
            </div>
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            24 Mars 2019  
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Préparation des ...</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Voilà, les ouvertures sont finies. On attend les fenêtres !
                        </p>
                        <img class="img-fluid" src="images/fenetre.jpg" alt="single image">
                     </div>
                </div>
            </div>
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            8 Avril 2019 
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Renforcement des fondations</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Aujourd'hui nous retirons les anciennes poutres pour laisser place au nouveau renforcement de la charpente.
                        </p>
                        <img class="img-fluid" src="images/poutre2.jpg" alt="single image">
                     </div>
                </div>
            </div>
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            14 Mai 2019  
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Préparation des ...</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Des fenêtres ont été posées ce lundi à la grange du bosquet... changement, modernité, ça avance a la grange du bosquet !
                        </p>
                        <img class="img-fluid" src="images/fenetre2.jpg" alt="single image">
                     </div>
                </div>
            </div>
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                             17 Juin 2019 
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Installation de la cuisine</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Et voilà pour la cuisine c'est fait.... sans oublier le petit café !
                        </p>
                        <img class="img-fluid" src="images/cuisine.jpg" alt="single image">
                     </div>
                </div>
            </div>
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            8 Juillet 2019  
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">L'assainissement</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            On s'occupe de l extérieur à la grange du bosquet... Puit de perte, fosse, épandage. L'assainissement est posé ! Bon ça s est fait! Le jardin va pouvoir prendre place.
                        </p>
                        <img class="img-fluid" src="images/tuyau.jpg" alt="single image">
                     </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End Story -->
    <!-- Start About us -->
<div id="about" class="about-box">
        <div class="about-a1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title-box">
                                <h2>Discover our region !</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                
                            <div class="card col-lg-3 col-md-5 col-xs-6 offset-xs-3 first-card" style="padding-top:15px;border: 10px solid #fff;box-shadow: 0 2px 5px rgba(0,0,0,.3);margin-bottom: 20px ;padding-right: 0 !important; padding-left: 0 !important;">
                                <img src="images/abbayedevaucelles.jpg" style="width: 60%; height: 30%; margin: 0 auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-family:Marck Script, cursive;font-size: 22px;text-align: center;">Abbaye de Vaucelles</h5>
                                    <p class="card-text">Cette abbaye cistercienne, classée Monument Historique, est située dans la vallée du Haut-Escaut sur la commune de Les Rues des Vignes</p>
                                    <a href="http://abbayedevaucelles.com/" class="btn btn-success">Visitez</a>
                                </div>
                            </div>
                            <div class="card col-lg-3 offset-lg-1 col-md-5 offset-md-1 col-xs-6 offset-xs-3" style="padding-top:15px;border: 10px solid #fff;box-shadow: 0 2px 5px rgba(0,0,0,.3);margin-bottom: 20px ;padding-right: 0 !important; padding-left: 0 !important;">
                                <img src="images/museematisse.jpg" style="width: 60%; height: 30%; margin: 0 auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-family:Marck Script, cursive;font-size: 22px;text-align: center;">Le musée Matisse</h5>
                                    <p class="card-text">Le musée Matisse a été créé en 1952 par Matisse lui-même, dans la ville où il est né le 31 décembre 1869. Le peintre offre à ses concitoyens du Cateau-Cambrésis 82 œuvres qu’il installe dans l’Hôtel de Ville Renaissance.</p>
                                    <a href="https://museematisse.fr/" class="btn btn-success">Visitez</a>
                                </div>
                            </div>
                            <div class="card col-lg-3 offset-lg-1 col-md-5 col-xs-6 offset-xs-3" style="padding-top:15px;border: 10px solid #fff;box-shadow: 0 2px 5px rgba(0,0,0,.3);margin-bottom: 20px ;padding-right: 0 !important; padding-left: 0 !important;">
                                <img src="images/museedeladentelle.jpg" style="width: 60%; height: 30%; margin: 0 auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-family:Marck Script, cursive;font-size: 22px;text-align: center;">Musée de la dentelle</h5>
                                    <p class="card-text">Musée atypique de dentelles et de broderies, à la fois musée de société et musée de la mode ouvert à la création contemporaine.</p>
                                    <a href="https://musee-dentelle.caudry.fr/" class="btn btn-success">Visitez</a>
                                </div>
                            </div>
                            <div class="card col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-xs-6 offset-xs-3 first-card" style="padding-top:15px;border: 10px solid #fff;box-shadow: 0 2px 5px rgba(0,0,0,.3);margin-bottom: 20px; padding-right: 0 !important; padding-left: 0 !important;">
                                    <img src="images/familister.jpg" style="width: 60%; height: 30%; margin: 0 auto;" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-family:Marck Script, cursive;font-size: 22px;text-align: center;">Le familistère de Guise</h5>
                                        <p class="card-text">En 1859, l’industriel Jean-Baptiste André Godin fait construire une cité ouvrière pour y loger, dans des conditions de vie décentes, les ouvriers de son usine toute proche.</p>
                                        <a href="https://www.familistere.com/fr" class="btn btn-success">Visitez</a>
                                    </div>
                            </div>
                            <div class="card col-lg-3 offset-lg-1 col-md-5 offset-md-0 col-xs-6 offset-xs-3" style="padding-top:15px;border: 10px solid #fff;box-shadow: 0 2px 5px rgba(0,0,0,.3);margin-bottom: 20px ;padding-right: 0 !important; padding-left: 0 !important;">
                                <img src="images/historial.jpg" style="width: 60%; height: 30%; margin: 0 auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-family:Marck Script, cursive;font-size: 22px;text-align: center;">L'historial de Péronne</h5>
                                    <p class="card-text">L’Historial de la Grande Guerre présente, dans ses deux musées à Péronne et Thiepval, le premier conflit mondial dans toute son ampleur.</p>
                                    <a href="https://www.historial.fr/" class="btn btn-success">Visitez</a>
                                </div>
                            </div>
                            <div class="card col-lg-3 offset-lg-1 col-md-5 offset-md-1 col-xs-6 offset-xs-3" style="padding-top:15px;border: 10px solid #fff;box-shadow: 0 2px 5px rgba(0,0,0,.3);margin-bottom: 20px ;padding-right: 0 !important; padding-left: 0 !important;">
                                <img src="images/abbayedevaucelles.jpg" style="width: 60%; height: 30%; margin: 0 auto;" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-family:Marck Script, cursive;font-size: 22px;text-align: center;">Abbaye de Vaucelles</h5>
                                    <p class="card-text">Cette abbaye cistercienne, classée Monument Historique, est située dans la vallée du Haut-Escaut sur la commune de Les Rues des Vignes</p>
                                    <a href="http://abbayedevaucelles.com/" class="btn btn-success">Visitez</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
</div>
<!-- End About us -->
    
<!-- Start Contact -->
<div id="contact" class="contact-box">
        <h2 style="text-align:center; color: white; font-size: 60px; font-family: 'Marck Script', cursive;margin-bottom: 30px;">Contactez-nous !</h2>
    <div class="container newcontainer">
        <form method="POST" data-netlify="true" class="nouveauFormulaire">
        
            <label for="prenom">Votre prénom</label>
            <input type="text" id="prenom" name="prenom" placeholder="Votre prénom ...">
        
            <label for="nom">Votre nom</label>
            <input type="text" id="nom" name="nom" placeholder="Votre nom ...">
        
            <label for="identifiant">Votre numéro de téléphone ou adresse mail</label>
            <input type="text" id="identifiant" name="identifiant" placeholder="Votre numéro de téléphone ...">
        
            <label for="message">Entrez votre message</label>
            <textarea id="message" name="message" placeholder="Message ..." style="height:200px"></textarea>
        
            <input type="submit" value="Envoyer">
        </form>
        </div> 
    </div>


    <!-- Start Events -->
    
    <div id="events" class="events-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h2>Nos évènements</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {{ $evenements    := where .Site.RegularPages "Type" "evenements" }}
                {{ range $evenements }}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="event-inner">
                        <div class="event-img">
                            <img class="img-fluid" src="https://lagrangedubosquet.fr/fr{{ .Params.image }}" style="width: 80%; margin: 0 auto;"alt="" />
                        </div>
                        <h2 style="font-family: 'Marck Script', cursive;">{{ .Params.title }}</h2>
                        <p>{{ .Params.description }}</p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <!-- End Events -->

    {{ else }}
    <!-- Start Family -->
    <div id="family" class="family-box">
            <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title-box">
                                <h2>Our bedrooms</h2>
                                <p>Located in Honnecourt-sur-l'Escaut, La Grange Du Bosquet offers a garden and terrace. Facilities at this property include a shared kitchen and lounge, and free Wi-Fi throughout the property. Private parking can be arranged for an extra charge. A continental breakfast is served every morning at the guest house. Saint-Quentin is 25 km from La Grange Du Bosquet, while Douai is 44 km away. The nearest airport is Lille Airport, 83 km from the property.</p>
                            </div>
                            {{ $rooms    := where .Site.RegularPages "Type" "bedrooms" }}
                            {{ range $rooms }}
                            <div class="flip">
                                    <div class="front" id="front" style="background-image: url(https://lagrangedubosquet.fr/en{{ .Params.image1 }})">
                                       <h1 class="text-shadow" style="color:white;font-weight: bold;font-size:30px;font-family: 'Marck Script', cursive;">{{ .Params.title}}</hi>
                                    </div>
                                    <div class="back">
                                       <h2 style="color: white; font-family: 'Marck Script', cursive;;">{{ .Params.description }} - {{ .Params.nbPers }} people</h2>
                                       <p style="color: white;"><i class="fa fa-bed" style="color: white;"></i>&nbsp;&nbsp;{{ .Params.literie }}</p>
                                       <p style="color: white;"><i class="fa fa-cubes" style="color: white;"></i>&nbsp;&nbsp;Area : {{ .Params.superficie }} m²</p>
                                       <p style="color: white;"><i class="fas fa-bath" style="color: white;"></i>&nbsp;&nbsp;Private bathroom</p>
                                       <p style="color: white;"><i class="fas fa-euro-sign" style="color: white;"></i>&nbsp;&nbsp;Night price : {{ .Params.tarifnuit }} € / night</p>
                                       <p style="color: white;"><i class="fas fa-euro-sign" style="color: white;"></i>&nbsp;&nbsp;Weekend price : {{ .Params.tarifweekend }} € / night</p>
                                       <p style="color: white;"><i class="fas fa-euro-sign" style="color: white;"></i>&nbsp;&nbsp;Week price: {{ .Params.tarifsemaine }} € / night</p>
                                       <p style="color: white;"><i class="fas fa-euro-sign" style="color: white;"></i>&nbsp;&nbsp;Holidays price : {{ .Params.tarifvacances }} € / night</p>
                                    </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
    </div>
    <!-- End Family --> 

    <!-- Start Gallery -->
    <div id="gallery" class="gallery-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h2>Gallery</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="popup-gallery clearfix">
                    {{ $gallery    := where .Site.RegularPages "Type" "gallery" }}
                    {{ range $gallery }}
                    <li style="height: 291px;">
                        <a href="https://lagrangedubosquet.fr/en{{ .Params.image }}" style="height: 100%;width: 100%">
                            <img class="img-fluid" src="https://lagrangedubosquet.fr/en{{ .Params.image }}" style="height: 100%;width:100%" alt="{{ .Params.title }}">
                            <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <!-- End Gallery -->
        
        <!-- Start Story -->
        <div id="story" class="story-box main-timeline-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2>Why and how ?</h2>
                            <p>Why "La grange du Bosquet"? Two grove farms already existed since the French Revolution, to ossu, the street where our barn is located, one kilometer from the center of Honnecourt, where once stood a small wooded massif. The rue d'ossu was named by the villagers of Bosquet, so we decided to continue the tradition and keep this word, to highlight the history of the village of Honnecourt sur Escaut. </p>
                        </div>
                    </div>
                </div>
                <div class="row timeline-element separline">
                    <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                        <div class="time-line-date-content">
                            <p class="mbr-timeline-date mbr-fonts-style display-font">
                                1 March 2018  
                            </p>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-xs-12 col-md-6 align-left">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">L'idée</h4>
                            <p class="mbr-timeline-text mbr-fonts-style display-7">
                               We met at the wedding of our close friends and immediately found a common language, so a year later our first date happened.
                            </p>
                         </div>
                    </div>
                </div>
                <div class="row timeline-element reverse separline">
                    <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                        <div class="time-line-date-content">
                            <p class="mbr-timeline-date mbr-fonts-style display-font">
                                3 Janvier 2019  
                            </p>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-xs-12 col-md-6 align-right">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Les premiers travaux</h4>
                            <p class="mbr-timeline-text mbr-fonts-style display-7">
                                Début des travaux de notre grange, nous consolidons la structure avec des poutres en fer.
                            </p>
                            <img class="img-fluid" src="images/phase2.jpg" alt="single image">    
                         </div>
                    </div>
                </div>
                <div class="row timeline-element separline">
                    <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                        <div class="time-line-date-content">
                            <p class="mbr-timeline-date mbr-fonts-style display-font">
                                10 Janvier 2019  
                            </p>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-xs-12 col-md-6 align-left">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Rénovation de la toiture</h4>
                            <p class="mbr-timeline-text mbr-fonts-style display-7">
                                Ce jour, les débuts de la rénovation de la toiture...
                            </p>
                            <img class="img-fluid" src="images/phase3.jpg" alt="single image">
                         </div>
                    </div>
                </div>
                <div class="row timeline-element reverse separline">
                    <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                        <div class="time-line-date-content">
                            <p class="mbr-timeline-date mbr-fonts-style display-font">
                                24 Janvier 2019 
                            </p>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-xs-12 col-md-6 align-right">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Hiver</h4>
                            <p class="mbr-timeline-text mbr-fonts-style display-7">
                                La neige est tombée sur la grange du bosquet !
                            </p>
                            <img class="img-fluid" src="images/hiver.jpg" alt="single image">
                         </div>
                    </div>
                </div>
                <div class="row timeline-element separline">
                    <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                        <div class="time-line-date-content">
                            <p class="mbr-timeline-date mbr-fonts-style display-font">
                                11 Février 2019  
                            </p>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-xs-12 col-md-6 align-left">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Préparation du sol</h4>
                            <p class="mbr-timeline-text mbr-fonts-style display-7">
                                Préparation, réalisation et finitions de la dalle  !
                            </p>
                            <img class="img-fluid" src="images/sol.jpg" alt="single image">
                         </div>
                    </div>
                </div>
                <div class="row timeline-element reverse separline">
                    <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                        <div class="time-line-date-content">
                            <p class="mbr-timeline-date mbr-fonts-style display-font">
                                11 Mars 2019 
                            </p>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-xs-12 col-md-6 align-right">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Consolidation</h4>
                            <p class="mbr-timeline-text mbr-fonts-style display-7">
                                Mise en place des murs, des poutres de renforcement, peinture, finitions des ouvertures, commencement du plancher, ça avance à la Grange du Bosquet !
                            </p>
                            <img class="img-fluid" src="images/poutre.jpg" alt="single image">
                         </div>
                    </div>
                </div>
                <div class="row timeline-element separline">
                    <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                        <div class="time-line-date-content">
                            <p class="mbr-timeline-date mbr-fonts-style display-font">
                                24 Mars 2019  
                            </p>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-xs-12 col-md-6 align-left">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Préparation des ...</h4>
                            <p class="mbr-timeline-text mbr-fonts-style display-7">
                                Voilà, les ouvertures sont finies. On attend les fenêtres !
                            </p>
                            <img class="img-fluid" src="images/fenetre.jpg" alt="single image">
                         </div>
                    </div>
                </div>
                <div class="row timeline-element reverse separline">
                    <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                        <div class="time-line-date-content">
                            <p class="mbr-timeline-date mbr-fonts-style display-font">
                                8 Avril 2019 
                            </p>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-xs-12 col-md-6 align-right">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Renforcement des fondations</h4>
                            <p class="mbr-timeline-text mbr-fonts-style display-7">
                                Aujourd'hui nous retirons les anciennes poutres pour laisser place au nouveau renforcement de la charpente.
                            </p>
                            <img class="img-fluid" src="images/poutre2.jpg" alt="single image">
                         </div>
                    </div>
                </div>
                <div class="row timeline-element separline">
                    <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                        <div class="time-line-date-content">
                            <p class="mbr-timeline-date mbr-fonts-style display-font">
                                14 Mai 2019  
                            </p>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-xs-12 col-md-6 align-left">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Préparation des ...</h4>
                            <p class="mbr-timeline-text mbr-fonts-style display-7">
                                Des fenêtres ont été posées ce lundi à la grange du bosquet... changement, modernité, ça avance a la grange du bosquet !
                            </p>
                            <img class="img-fluid" src="images/fenetre2.jpg" alt="single image">
                         </div>
                    </div>
                </div>
                <div class="row timeline-element reverse separline">
                    <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                        <div class="time-line-date-content">
                            <p class="mbr-timeline-date mbr-fonts-style display-font">
                                 17 Juin 2019 
                            </p>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-xs-12 col-md-6 align-right">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Installation de la cuisine</h4>
                            <p class="mbr-timeline-text mbr-fonts-style display-7">
                                Et voilà pour la cuisine c'est fait.... sans oublier le petit café !
                            </p>
                            <img class="img-fluid" src="images/cuisine.jpg" alt="single image">
                         </div>
                    </div>
                </div>
                <div class="row timeline-element separline">
                    <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                        <div class="time-line-date-content">
                            <p class="mbr-timeline-date mbr-fonts-style display-font">
                                8 Juillet 2019  
                            </p>
                        </div>
                    </div>
                    <span class="iconBackground"></span>
                    <div class="col-xs-12 col-md-6 align-left">
                        <div class="timeline-text-content">
                            <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">L'assainissement</h4>
                            <p class="mbr-timeline-text mbr-fonts-style display-7">
                                On s'occupe de l extérieur à la grange du bosquet... Puit de perte, fosse, épandage. L'assainissement est posé ! Bon ça s est fait! Le jardin va pouvoir prendre place.
                            </p>
                            <img class="img-fluid" src="images/tuyau.jpg" alt="single image">
                         </div>
                    </div>
                </div>
                
            </div>
        </div>

        
        <div id="about" class="about-box">
                <div class="about-a1">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-box">
                                    <h2>Discover our region !</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                
                                    <div class="card col-lg-3 col-md-5 col-xs-6 offset-xs-3 first-card" style="padding-top:15px;border: 10px solid #fff;box-shadow: 0 2px 5px rgba(0,0,0,.3);margin-bottom: 20px ;padding-right: 0 !important; padding-left: 0 !important;">
                                        <img src="images/abbayedevaucelles.jpg" style="width: 60%; height: 30%; margin: 0 auto;" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title" style="font-family:Marck Script, cursive;font-size: 22px;">Abbey of Vaucelles</h5>
                                            <p class="card-text">This Cistercian abbey, listed as a Historic Monument, is located in the valley of Haut-Escaut on the city of Les Rues des Vignes</p>
                                            <a href="http://abbayedevaucelles.com/?cmslang=en" class="btn btn-success">Discover</a>
                                        </div>
                                    </div>
                                    <div class="card col-lg-3 offset-lg-1 col-md-5 offset-md-1 col-xs-6 offset-xs-3" style="padding-top:15px;border: 10px solid #fff;box-shadow: 0 2px 5px rgba(0,0,0,.3);margin-bottom: 20px ;padding-right: 0 !important; padding-left: 0 !important;">
                                        <img src="images/museematisse.jpg" style="width: 60%; height: 30%; margin: 0 auto;" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title" style="font-family:Marck Script, cursive;font-size: 22px;">Matisse museum</h5>
                                            <p class="card-text">The Matisse Museum was created in 1952 by Matisse himself, in the city where he was born December 31, 1869. The painter offers his fellow citizens of Cateau-Cambresis 82 works he installs in the Renaissance Town Hall.</p>
                                            <a href="https://museematisse.fr/" class="btn btn-success">Discover</a>
                                        </div>
                                    </div>
                                    <div class="card col-lg-3 offset-lg-1 col-md-5 col-xs-6 offset-xs-3" style="padding-top:15px;border: 10px solid #fff;box-shadow: 0 2px 5px rgba(0,0,0,.3);margin-bottom: 20px ;padding-right: 0 !important; padding-left: 0 !important;">
                                        <img src="images/museedeladentelle.jpg" style="width: 60%; height: 30%; margin: 0 auto;" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title" style="font-family:Marck Script, cursive;font-size: 22px;">Lace museum</h5>
                                            <p class="card-text">Atypical museum of lace and embroidery, both a museum of society and a museum of fashion open to contemporary creation.</p>
                                            <a href="https://musee-dentelle.caudry.fr/en/" class="btn btn-success">Discover</a>
                                        </div>
                                    </div>
                                    <div class="card col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-xs-6 offset-xs-3 first-card" style="padding-top:15px;border: 10px solid #fff;box-shadow: 0 2px 5px rgba(0,0,0,.3);margin-bottom: 20px; padding-right: 0 !important; padding-left: 0 !important;">
                                            <img src="images/familister.jpg" style="width: 60%; height: 30%; margin: 0 auto;" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title" style="font-family:Marck Script, cursive;font-size: 22px;">The familistery of Guise</h5>
                                                <p class="card-text">In 1859, the industrialist Jean-Baptiste André Godin built a workers' city to house, under decent living conditions, the workers of his factory nearby.</p>
                                                <a href="https://www.familistere.com/fr" class="btn btn-success">Discover</a>
                                            </div>
                                    </div>
                                    <div class="card col-lg-3 offset-lg-1 col-md-5 offset-md-0 col-xs-6 offset-xs-3" style="padding-top:15px;border: 10px solid #fff;box-shadow: 0 2px 5px rgba(0,0,0,.3);margin-bottom: 20px ;padding-right: 0 !important; padding-left: 0 !important;">
                                        <img src="images/historial.jpg" style="width: 60%; height: 30%; margin: 0 auto;" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title" style="font-family:Marck Script, cursive;font-size: 22px;">The Historial of the Great War</h5>
                                            <p class="card-text">In its two museums of Péronne and Thiepval, the Historial, Museum of the Great War presents the full magnitude of the First World War.</p>
                                            <a href="https://www.historial.fr/en/" class="btn btn-success">Discover</a>
                                        </div>
                                    </div>
                                    <div class="card col-lg-3 offset-lg-1 col-md-5 offset-md-1 col-xs-6 offset-xs-3" style="padding-top:15px;border: 10px solid #fff;box-shadow: 0 2px 5px rgba(0,0,0,.3);margin-bottom: 20px ;padding-right: 0 !important; padding-left: 0 !important;">
                                        <img src="images/abbayedevaucelles.jpg" style="width: 60%; height: 30%; margin: 0 auto;" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title" style="font-family:Marck Script, cursive;font-size: 22px;">Abbaye de Vaucelles</h5>
                                            <p class="card-text">Cette abbaye cistercienne, classée Monument Historique, est située dans la vallée du Haut-Escaut sur la commune de Les Rues des Vignes</p>
                                            <a href="http://abbayedevaucelles.com/" class="btn btn-success">Discover</a>
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- End About us -->
        <!-- End Story -->
        <div id="contact" class="contact-box">
                <h2 style="text-align:center; color: white; font-size: 60px; font-family: 'Marck Script', cursive;margin-bottom: 30px;">Contactez-nous !</h2>
            <div class="container newcontainer">
                <form method="POST" data-netlify="true" class="nouveauFormulaire">
                
                    <label for="prenom">Your Firstname</label>
                    <input type="text" id="prenom" name="prenom" placeholder="Your Firstname ...">
                
                    <label for="nom">Your Lastname</label>
                    <input type="text" id="nom" name="nom" placeholder="Your Lastname ...">
                
                    <label for="identifiant">Your phone number or mail address</label>
                    <input type="text" id="identifiant" name="identifiant" placeholder="Your phone number or mail address">
                
                    <label for="message">Your message</label>
                    <textarea id="message" name="message" placeholder="Message ..." style="height:200px"></textarea>
                
                    <input type="submit" value="Send">
                </form>
                </div> 
            </div>
        <!-- End Events -->
        
        

        <!-- Start Events -->
        
        <div id="events" class="events-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2>Events</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{ $events    := where .Site.RegularPages "Type" "events" }}
                    {{ range first 3 $events }}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="event-inner">
                            <div class="event-img">
                                <img class="img-fluid" style="width: 80%; margin: 0 auto;" src="https://lagrangedubosquet.fr/en{{ .Params.image }}" alt="" />
                            </div>
                            <h2 style="font-family: 'Marck Script', cursive;">{{ .Params.title }}</h2>
                            <p>{{ .Params.description }}</p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}

<!-- End Contact -->
{{ partial "footer" . }}